<strong>Olá, {{ student }}, </strong> 
<p>Seja bem-vindo à Gympoint!</p>
<p>Sua matrícula foi efetuada com sucesso. Confira os detalhes abaixo: </p>
<p>
  <strong>Plano: </strong> {{ plan }}. <br />
  <strong>Validade: </strong> {{ end_date }}. <br />
  <strong>Valor final: </strong> R$ {{ value }},00. <br />
  <br />
</p>